.image-popup-screen { 
    flex: auto;
    background-color: rgb(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    /* align-self: auto; */
    border-radius: 10px;
    display: flex;
    /* top: 45%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
  
  .x-button { 
    padding: 20px 20px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  button { 
    background-color: transparent;
    border: none;
    margin: none;
  }

.image-popup-item { 
  display: flex;
  height:90%;
  padding: 10px 10px 10px 10px;
  margin: auto;
  outline: 1px solid black;
  justify-content: center;
  align-items: center;
}

.image-popup-item img {
  justify-content: center;
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: 100%;
 } 

 .image-popup-item h1 { 
  display: block;
 }