@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* styles go here */

* { 
  font-family: "Secular One";
  margin: 0;
}

.navbar {
  color:rgb(59, 59, 59);
  flex: auto;
  text-align: center;
}

.navlinks { 
  margin: auto;
  flex: auto;
  text-align: center;
}

.link-styles {
  display: inline-block;
  transition: all .2s ease-in;
  margin: 30px;
  color:rgb(95, 95, 95);
  text-decoration: none;
}

.link-styles:hover { 
  color:rgb(38, 38, 38);
}

.home h1 { 
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
  font-size: 30px;
}

.home { 
  flex: auto;
  color:rgb(59, 59, 59);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}


.commissionStatus {
  align-content: center;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}

.commissionStatus h1 { 
  font-size: 15px;
  flex: auto;
  display: inline;
}

.commissionStatus p { 
  display: inline;
}

.lastUpdated p {
  display: inline;
}


.blog { 

}

.blog-item {
  margin: 30px;
  flex: auto;
  outline: 1px solid black;
}


.blog-item p { 
  display: inline-block;
  outline: 1px solid black;
}

/* home info and home-pfp are in the same flex div*/

.home-info { 
  flex: auto;
  display: inline-block;
  text-align: left;
  margin-right: 5%;
}

.home-pfp {
  flex: auto; /*allow it to move right and leftwise, without being treated as a block element*/
  text-align: right;
}

.home img { 
  height: 210px;
  margin-left: 5%;
  margin-right: 10px;
}

.home-info button {
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  padding: 10px 32px; /*width height*/
  transition: all .1s ease-in;
}

.home-info button:hover{
  background-color:rgb(223, 223, 223);
}