@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* styles go here */

* { 
  font-family: "Secular One";
  margin: 0;
}

.navbar {
  color:rgb(59, 59, 59);
  flex: auto;
  text-align: center;
}

.navlinks { 
  margin: auto;
  flex: auto;
  text-align: center;
}

.link-styles {
  display: inline-block;
  transition: all .2s ease-in;
  margin: 30px;
  color:rgb(95, 95, 95);
  text-decoration: none;
}

.link-styles:hover { 
  color:rgb(38, 38, 38);
}

.home h1 { 
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
  font-size: 30px;
}

.home { 
  flex: auto;
  color:rgb(59, 59, 59);
  text-align: center;
}


.commissionStatus {
  align-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.commissionStatus h1 { 
  font-size: 15px;
  flex: auto;
  display: inline;
}

.commissionStatus p { 
  display: inline;
}

.lastUpdated p {
  display: inline;
}

/* fix issue where .blog and .blog-item css wont load to blog*/

.blog { 

}

.blog-item {
  margin: 30px;
  flex: auto;

  outline: 1px solid black;
}


.blog-item p { 
  display: inline-block;
  outline: 1px solid black;
}